body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #ffd5e9;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #e16c9f; /* Dark cyan */
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p {
    margin: 5px 0;
}




.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.work-experience, .personal-projects, .education {
    margin-bottom: 20px;
}

.work-experience h3, .personal-projects h3, .education h3 {
    margin: 10px 0 5px;
    font-size: 1.2em;
}

.work-experience p, .personal-projects p, .education p {
    margin: 5px 0;
}

.work-experience ul, .personal-projects ul {
    list-style-type: disc;
    margin-left: 20px;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    background: #e4e4e4;
    display: inline;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.language ul {
    list-style-type: none;
    padding: 0;
}

.language ul li {
    background: #e4e4e4;
    display: inline;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

